{%extends 'basetemplate.html'%}
{%load static%}
{%block content%}


    <div style="width:600px,height:800px" class="container">
      <img  class='responsive-img' src="/{{event.image.url}}" alt="">
    </div>
    <h4>{{event.title}}</h4>
    <p>{{event.body|linebreaks}}</p>
    <br>
    <br>
    <p>Category: {{event.category}}</p>
    <p>Date: {{event.startDateTime}} to {{event.endtime}}</p>
    <p>Price: Rs {{event.price}}</p>
    <br><br>

    {%if filled%}
    <div class="container">
      <p class="btn pulse btn-large red accent-4 center-align">TICKETS SOLD OUT!!!</p>
      <br><br><br><br><br>
    </div>

    {% else %}

        <form class="" action="/submit/" method="post">
          {% csrf_token %}
          <input type="hidden" name="slug-to-mark" value="{{event.slug}}"/>
          <div class="container section">
            <div id='output' class='section'></div>
            <div id="feedback"></div>
            <h4>Book this event!</h4>
            <div class='input-field'>
              <input type="text" id='handle' name="name"/>
              <label for="handle">Your Name</label>
            </div>
            <div class='input-field'>
              <input type="text" id='emailid' name="emailid"/>
              <label for="message">Your Email ID</label>
            </div>
            <div class='input-field'>
              <input type="number" id='phonenumber' name="phonenumber"/>
              <label for="phonenumber">Your Phone Number</label>
            </div>
            <div class="input-field center">
              <button class='btn red accent-4' id="send">Book</button>
            </div>
          </div>
        </form>

    {%endif%}



{%endblock%}
