{%extends 'basetemplate.html'%}
{%load static%}
{%block content%}


    <div style="width:600px,height:800px" class="container">
      <img  class='responsive-img' src="/{{event.image.url}}" alt="">
    </div>
    <h4>{{event.title}}</h4>
    <p>{{event.body|linebreaks}}</p>
    <br>
    <br>
    <p>Category: {{event.category}}</p>
    <p>Date: {{event.startDateTime}} to {{event.endtime}}</p>
    <p>Price: Rs {{event.price}}</p>
    <br><br>

    {%if filled%}
    <div class="container">
      <p class="btn pulse btn-large red accent-4 center-align">TICKETS SOLD OUT!!!</p>
      <br><br><br><br><br>
    </div>

    {% else %}

        <form class="" action="/submit/" method="post">
          {% csrf_token %}
          <input type="hidden" name="slug-to-mark" value="{{event.slug}}"/>
          <div class="container section">
            <div id='output' class='section'></div>
            <div id="feedback"></div>
            <h4>Book this event!</h4>
            <div class='input-field'>
              <input type="text" id='handle' name="name"/>
              <label for="handle">Your Name</label>
            </div>
            <div class='input-field'>
              <input type="text" id='emailid' name="emailid"/>
              <label for="message">Your Email ID</label>
            </div>
            <div class='input-field'>
              <input type="number" id='phonenumber' name="phonenumber"/>
              <label for="phonenumber">Your Phone Number</label>
            </div>
            <div class="input-field center">
              <button class='btn red accent-4' id="send">Book</button>
            </div>
          </div>
        </form>

        <div class="Booking-section">
          <div class="input-field center">
            <button id="continueBooking" type="button" class='btn red accent-4' name="button">Continue Booking</button>
          </div>

          <div id="Tickets-Section" class="notActive">
              {% if tickets.paid %}
              <div class='input-field'>
                <input placeholder="0" type="number" id='PaidTicket' name="PaidTicketCost"/>
                <label for="PaidTicket">Paid Ticket: Cost for one is Rs {{tickets.paidCost}}</label>
              </div>
              {% endif %}
              {% if tickets.free %}
              <div class='input-field'>
                <input placeholder="0" type="number" id='FreeTicket' name="FreeTicketCost"/>
                <label for="FreeTicket">Free Ticket</label>
              </div>
              {% endif %}
              {% if tickets.donation %}
              <div class='input-field'>
                <input placeholder="0" type="number" id='DonationTicket' name="DonationTicketCost"/>
                <label for="DonationTicket">Donation Ticket</label>
              </div>
              {% endif %}
            <div class="input-field center">
              <button id="ticketsDone" type="button" class='btn red accent-4' name="button">Proceed</button>
            </div>
          </div>

          <div class="CostSection">
            <h3>Cost till now is: {{totalCost}}</h3>
            <h4>Do you have a coupon?</h4>
            <button type="button" name="button">Yes</button>
            <ul class="insertCouponBox">
              <li>

              </li>
            </ul>
          </div>

        </div>



        <!-- Never forget CDN!! :') ' -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

        <script type="text/javascript">
          $(function(){
            $("#continueBooking").on('click',function(){
              $(this).fadeOut(500);
              $(this).addClass('notActive');
              $('#Tickets-Section').removeClass('notActive').addClass('Active');
            });
          });
        </script>

        <script type="text/javascript">
          $(function(){
            $("#ticketsDone").on('click',function(){
              var ticketsNum = {
                paidnum = $("#PaidTicket").val(),
                freenum = $('#FreeTicket').val(),
                donationnum = $("#DonationTicket").val(),
              }

              $.ajax({
                type:POST,
                url:"/calcCost",
                data:ticketsNum,
                success: function(cost){
                  $(this).fadeOut(500);
                  $(this).addClass('notActive');
                  $('#CostSection').removeClass('notActive').addClass('Active');
                }
              });
            });
          });
        </script>

    {%endif%}

    <br><br><br><br><br>


{%endblock%}
